.DS_Store
.vercel
.firebase/
.derivedData/
xcuserdata/
*.xcuserstate
DerivedData/
build/
.gradle/
kotlin/local.properties
local.properties
.idea/
*.iml
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
downloads/*.zip
.kotlin/
